################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/HolyEscala/FileContentIndex/26e152f1-7b87-4e04-8930-380d08266476.vsidx
/.vs/slnx.sqlite
/.vs/HolyEscala/FileContentIndex
/UserService/.vs/UserService/FileContentIndex
/UserService/.vs/UserService/DesignTimeBuild
/UserService/.vs/UserService/v17
/UserService/obj
/UserService/.vs/ProjectEvaluation
/UserServiceTest/bin/Debug/net8.0
/UserServiceTest/obj/Debug/net8.0
/UserServiceTest/obj
/Application/obj/Debug/net8.0
/Application/obj
/Domain/obj/Debug/net8.0
/Domain/obj
/Infrastructure/obj
